<div class="verify-form" [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>{{ 'ENTER_TITLE'| translate }}</mat-label>
        <input matInput formControlName="title" autocomplete="off">
        <mat-error *ngIf="form.get('title')!.invalid">{{ 'TITLE_VALIDATION'| translate }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>{{ 'ENTER_PASSWORD'| translate }}</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')!.invalid">{{ 'PASSWORD_VALIDATION'| translate }}</mat-error>
    </mat-form-field>
    <section>
        <button mat-flat-button color="primary" (click)="add()">{{ 'ADD'| translate }}</button>
        <button mat-stroked-button (click)="goHome()">{{ 'BACK'| translate }}</button>
    </section>
</div>
